*{
    margin: opx;
    padding: 0px;
}
body{
    background: url(https://thumbs.dreamstime.com/z/fondo-del-concepto-laboratorio-de-la-medicina-con-el-equipo-y-botellas-ejemplo-vector-color-en-dise%C3%B1o-plano-moderno-113552148.jpg);
    width: auto;
    height: auto;
}
#Contenedor1{
    background: transparent;
    width: 460px;
    height: 550px;
    margin: auto;
    margin-top: 100px;
}
#form1{
    padding: 50px 20px 10px 20px;
}
#Contenedor1 h1{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 45px;
}
#form1 select[name="combo"]{
    border: none;
    background: white;
    width: 90%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;
}
#form1 input[type="text"],
#form1 input[type="Password"]{
    border: none;
    background: none;
    width: 90%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
}
#form1 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: #1b4f72;
    color: aquamarine;
    font-size: 25px;
}


